:host {
  height: 100vh;
  display: grid;
  place-items: center;

  .login-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }

  .register-button {
    text-align: end;
    font-size: 0.8em;
  }
}