<div>
  <button (click)="uploadAll()">全部上传</button>
  <p class="mat-error">切勿上传文件名相同的图片</p>
  <input
    style="display: none;"
    type="file"
    name="file"
    id="upfiles"
    accept="image/*"
    multiple
    (change)="onFileChange($event)"
    #input
  />
  <button
    mat-raised-button
    (drag)="hadler($event)"
    (drop)="dropEvent($event)"
    (dragover)="hadler($event)"
    (click)="input.click()"
  >
    点击/拖拽上传({{ files?.length || '0' }})
  </button>
  <app-sized-box height="20"></app-sized-box>

  <ng-container *ngIf="files">
    <ng-container *ngFor="let file of files">
      <div class="preview-item">
        <div class="image">
          <img [src]="file.src" />
        </div>
        <div class="info">
          <div class="mat-body-1">{{ file.file.name }}</div>
          <div class="mat-caption">{{ file.file.size | imageSize }}</div>
        </div>
        <div class="icons">
          <mat-icon title="删除" (click)="deletePreviewImage(file)"
            >delete_forever</mat-icon
          >
          <mat-icon title="查看原图" (click)="displayOriginalImage(file.src)"
            >zoom_in</mat-icon
          >
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
