<div>
  <button (click)="uploadAll()">全部上传</button>
  <p class="mat-error">切勿上传文件名相同的图片</p>
  <input
    style="display: none;"
    type="file"
    name="file"
    id="upfiles"
    accept="image/*"
    multiple
    (change)="onFileChange($event)"
    #input
  />
  <button
    mat-raised-button
    (drag)="hadler($event)"
    (drop)="dropEvent($event)"
    (dragover)="hadler($event)"
    (click)="input.click()"
  >
    点击/拖拽上传({{ files?.length || '0' }})
  </button>
  <app-sized-box height="20"></app-sized-box>

  <ng-container *ngIf="files">
    <ng-container *ngFor="let file of files">
      <app-preview-image [image]="file" (delete)="deletePreviewImage(file)" (zoomIn)="displayOriginalImage(file.src)"></app-preview-image>
    </ng-container>
  </ng-container>
</div>
