<mat-card class="preview-image-card" [title]="image.file.name">
  <img
    mat-card-image
    [src]="image.src"
    title="查看原图"
    (click)="handleZoomIn()"
  />
  <mat-card-content>
    <p>{{ image.file.name }}</p>
    <p>{{ image.file.size | imageSize }}</p>
    <mat-progress-bar
      *ngIf="image?.progress > 0"
      mode="determinate"
      [value]="image?.progress"
    ></mat-progress-bar>
    <p *ngIf="uploadError" class="mat-error">
      {{ image.message }}
    </p>
     <p *ngIf="!uploadError" style="color: #2b9f5b">
      {{ image.message }}
     </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button title="删除" (click)="handleDelete()">
      删除
    </button>
    <button mat-raised-button title="上传" (click)="handleUpload()">
      上传
    </button>
  </mat-card-actions>
</mat-card>
