<section>
  <ng-container
    *ngIf="images && images.length; then thenTemp; else loading"
  ></ng-container>

  <ng-template #thenTemp>
    <section class="images-container">
      <ng-container *ngFor="let image of images">
        <div class="item">
          <mat-card class="image-card">
            <img mat-card-image [src]="image.url" (click)="open(image.url)" />
            <mat-card-content>
              <p style="word-break: break-all;">{{ image.filename }}</p>
              <p>{{ image.size | imageSize }}</p>
              <button
                mat-button
                class="image-url-button"
                [attr.data-clipboard-text]="image.url"
                title="点击复制"
              >
                {{ image.url }}
              </button>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                title="注意：这将永久删除资源"
                (click)="delete(image.hash)"
              >
                删除资源
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
    </section>
  </ng-template>
</section>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
