<section class="images-container">
  <ng-container *ngIf="images && images.length; else loading">
    <div *ngFor="let image of images" class="item">
      <mat-card class="image-card">
        <img mat-card-image [src]="image.url" (click)="open(image.url)" (load)="wf?.draw()" />
        <mat-card-content>
          <p style="word-break: break-all;">{{ image.filename }}</p>
          <p>{{ image.size | imageSize }}</p>
          <button
            mat-button
            class="image-url-button"
            matTooltip="点击复制"
            matTooltipPosition="above"
            (click)="copy(image)"
          >
            {{ image.url }}
          </button>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="delete(image.hash)">
            永久删除
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</section>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
