:host {
  position: absolute;
  padding: 1rem;
  width: 100vw;
}

.images-container {
  position: relative;
  width: 100%;
}

.item {
  width: 300px;
  padding: 4px;
  transition: all 1s;
}

.image-card {
  min-width: 100%;
  max-width: 100%;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.image-url-button {
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
