:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.images-container {
  position: relative;
}

.item {
  width: 20em;
  padding: 0.5em;
  transition: all 1s;
}

.image-card {
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.image-url-button {
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
