.grid-nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 14px;

  li {
    text-align: center;
  }

  .active {
    color: #f2758b;
  }

  a {
    color: #808080b0;
  }
}